<template>
  <div
    class="map">
    <client-only>
      <MglMap
        access-token="pk.eyJ1IjoiZGltYTE1MDEiLCJhIjoiY2p4aXcydHZmMDA1NjN0bzdrOHUxeWs3eCJ9.1CwUTHoTLPGSpkx0_4I8eg"
        mapStyle="mapbox://styles/dima1501/ck9bke9bn047z1ipldiyuop6i"
        @load="onMapLoaded"
        :zoom='10'
        :center="$store.state.map.center">

        <MglMarker
          v-for='(marker, key) in $store.state.meetings.mapMeetings'
          v-bind:key='key'
          :coordinates="marker.coords"
          v-if="marker.status == 'public' && $store.state.map.bounds._ne && marker.coords[1] < $store.state.map.bounds._ne.lat && marker.coords[1] > $store.state.map.bounds._sw.lat && marker.coords[0] > $store.state.map.bounds._sw.lng && marker.coords[0] < $store.state.map.bounds._ne.lng"
          v-on:click="loadPopupData(marker.id)"
          >
            <MglPopup>
                <div class="v-card">
                    <div class="v-card__inner">
                      <div class="v-card__title">{{ $store.state.meetings.popupMeeting.title }}</div>
                      <div class="v-card__subtitle">{{ $store.state.meetings.popupMeeting.subtitle }}</div>
                      <div class="v-card__reqs">
                        <div
                          v-for="(option, key) in $store.state.meetings.popupMeeting.reqs"
                          v-bind:key="key"
                          class="v-card__reqs-item">{{ option }}</div>
                      </div>
                      <div class="v-card__bottom">
                        <div class="v-card__bottom-item">
                          <a class="v-card__join" v-on:click="openMeeting($store.state.meetings.popupMeeting)">More</a>
                        </div>
                        <div class="v-card__bottom-item">
                          <div class="v-card__peoples">{{ $store.state.meetings.popupMeeting.peoples }}</div>
                        </div>
                      </div>
                    </div>
                </div>
            </MglPopup>
        </MglMarker>

        <MglMarker
          v-if="$store.state.map.newMarker.visible && $store.state.map.newMarker.coords"
          :coordinates="$store.state.map.newMarker.coords">
        </MglMarker>
        

      </MglMap>
    </client-only>

    <a 
      class="map__button btn btn--primary" 
      v-on:click="$store.state.view.popups.activePopup = 'registration'"
      v-if="!$store.state.auth.user"
      >Registration/Sign In</a>

      
      <div v-if="$store.state.auth.user" class="map__buttons">
        <transition name="fade">
          <div v-if="show" class="map__buttons-item">
            <a v-on:click="createMeeting()"><v-icon>{{ createMeetingIcon }}</v-icon></a>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="show" class="map__buttons-item">
            <a v-on:click='myMeetings()'><v-icon>{{ myMeetingsIcon }}</v-icon></a>
          </div>
        </transition>
        <transition name="fade">
          <div v-if="show" class="map__buttons-item">
            <a v-on:click="logOut()"><v-icon>{{ logOutIcon }}</v-icon></a>
          </div>
        </transition>
      </div>
      
    

    <div v-if="$store.state.view.map.create" class="map__create">
      <div class="map__create-item">
        Click on map to set point for meeting
      </div>
      <div v-on:click="cancelCreate()" class="map__create-item">
        Cancel
      </div>
      <div v-on:click="startCreate()" class="map__create-item">
        Create
      </div>
    </div>

  </div>
</template>

<script>

var firebase = require("firebase/app");

require("firebase/auth");
require("firebase/firestore");

import Vue from 'vue'
import Vuetify from 'vuetify'

import { mdiMapMarkerPlusOutline } from '@mdi/js';
import { mdiFormatListBulleted } from '@mdi/js';
import { mdiLogout } from '@mdi/js';

Vue.use(Vuetify)

export default {

  data() {
    return {
      markers: [],
      count: 1,
      createMeetingIcon: mdiMapMarkerPlusOutline,
      myMeetingsIcon: mdiFormatListBulleted,
      logOutIcon: mdiLogout,
      show: false
    }
  },

  created() {
    this.$store.state.map.map = null;
  },

  mounted() {
    this.$store.dispatch('meetings/loadMapMeetings', {})
  },

  methods: {
    onMapLoaded(event) {
      let map = event.map
      let that = this
      that.$store.dispatch('meetings/checkHash', {})
      that.$store.state.map.map = event.map;
      this.show = true

      if (navigator && "geolocation" in navigator && !window.location.hash) { 
        navigator.geolocation.getCurrentPosition(position => { 
            that.$store.state.map.map.panTo([position.coords.longitude, position.coords.latitude])
        }); 
      } else { /* geolocation IS NOT available, handle it */ }

      this.$store.state.map.map.on('move', function() {
        that.$store.state.map.bounds = map.getBounds()
      })
    },

    logOut() {
      this.$store.dispatch('auth/logOut', {})
    },

    cancelCreate() {
      this.$store.commit('view/toggleCreate', false)
      this.$store.state.map.newMarker.visible = false
    },

    createMeeting() {
      let that = this
      let map = this.$store.state.map.map

      that.$store.state.map.newMarker.visible = true

      this.$store.state.map.map.on('click', function(e) {
        if (that.$store.state.map.newMarker.visible) {
          let newCoords = [e.lngLat.lng, e.lngLat.lat] 
          that.$store.state.map.newMarker.coords = newCoords
          map.panTo(newCoords)
        }
      });

      this.$store.commit('view/toggleCreate', true)
    },

    startCreate() {
      this.$store.commit('view/togglePopup', 'create_meeting')
    },

    myMeetings() {
      this.$store.dispatch("view/toggleSidebar", "meetings")
      this.$store.dispatch("meetings/loadMyMeetings", null)
    },

    openMeeting(meeting) {
      this.$store.dispatch("meetings/openMeeting", meeting)
    },

    loadPopupData(data) {
      this.$store.dispatch("meetings/loadPopupData", data)
    }
  }
}
</script>

<style lang="scss">

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s, transform .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  &__button {
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
  }

  &__buttons {
    position: absolute;
    z-index: 10;
    left: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;

    &-item {
      margin-bottom: 20px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: #fff;
      line-height: 10px;
      cursor: pointer;
      transition: opacity .5s, transform .3s;

      &:hover {
        transform: scale(1.1);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__create {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;

    &-item {
      margin: 0 20px;
    }
  }
}

.mapboxgl-marker {
  top: -20px;
  animation: box .4s ease-in-out;

  @keyframes box {
    from { 
      top: -30px; 
      opacity: 0;
    }
    to { 
      top: -20px;
      opacity: 1;
    }
  }
}

.v-card {

  &__inner {
    padding: 5px;
    width: 220px;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 5px;
  }

  &__subtitle {
    opacity: .8;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  &__reqs {
    margin-bottom: 10px;

    &-item {
      line-height: 1.2;
      padding-left: 10px;
      position: relative;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        width: 3px;
        height: 3px;
        background-color: #000;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }
}
</style>



