<template lang='pug'>
    .popup(v-if="$store.state.view.popups.activePopup")
        .popup__container(v-if="$store.state.view.popups.activePopup == 'leave_meeting'")
            .popup__closer(v-on:click="$store.state.view.popups.activePopup = ''") +
            .popup__content
                .popup__ask
                    .popup__ask-message Leave meeting?
                    .popup__ask-options
                        .popup__ask-options-item Yes
                        .popup__ask-options-item No

        .popup__container(v-if="$store.state.view.popups.activePopup == 'create_meeting'")
            .popup__closer(v-on:click="$store.state.view.popups.activePopup = ''") +
            .popup__content
                .popup__title Create meeting
                form(@submit.prevent="create()").popup__form
                    .popup__form-line
                        label.popup__form-label Meeting title*
                        input(required v-model="$store.state.create.title").popup__form-input
                    .popup__form-line
                        label.popup__form-label Meeting description*
                        textarea(required v-model="$store.state.create.subtitle").popup__form-textarea
                    .popup__form-line
                        label.popup__form-label Requirements
                        input(
                            required
                            v-for="(req, key) in $store.state.create.reqsLen" v-bind:key="key"
                            v-model="$store.state.create.reqs[key]"
                            ).popup__form-input
                        <span v-on:click="addReqLine()">+</span>
                        <span v-on:click="removeReqLine()">-</span>
                    .popup__form-button
                        button(type='submit') Create meeting

        .popup__container(v-if="$store.state.view.popups.activePopup == 'change_meeting' && $store.state.meetings.editMeeting")
            .popup__closer(v-on:click="$store.state.view.popups.activePopup = ''") +
            .popup__content
                .popup__title Edit meeting
                form(@submit.prevent="edit($store.state.meetings.editMeeting)").popup__form
                    .popup__form-line
                        label.popup__form-label Meeting title*
                        div.popup__form-title {{$store.state.meetings.editMeeting.title}}
                    .popup__form-line
                        label.popup__form-label Meeting description*
                        textarea(required v-model="$store.state.meetings.editMeeting.subtitle").popup__form-textarea
                    .popup__form-line
                        label.popup__form-label Requirements
                        input(
                            required
                            v-for="(req, i) in $store.state.meetings.editMeeting.reqsLen" v-bind:key="i"
                            v-model="$store.state.meetings.editMeeting.reqs[i]"
                            ).popup__form-input
                        <span v-on:click="addEditReqLine()">+</span>
                        <span v-on:click="removeEditReqLine()">-</span>
                    .popup__form-button
                        button(type='submit') Create meeting


        .popup__container(v-if="$store.state.view.popups.activePopup == 'registration'")
            .popup__closer(v-on:click="$store.state.view.popups.activePopup = ''") +
            .popup__content
                .popup__title Registration
                form(@submit.prevent="registration()").popup__form
                    .popup__form-line
                        label.popup__form-label Name*
                        input(v-model='$store.state.auth.registration.name').popup__form-input
                    .popup__form-line
                        label.popup__form-label Email*
                        input(v-model='$store.state.auth.registration.email').popup__form-input
                    .popup__form-line
                        label.popup__form-label Password*
                        input(v-model='$store.state.auth.registration.password' type='password').popup__form-input
                    .popup__form-button
                        button(type='submit') Create account
                    .popup__form-bottom
                        .popup__form-bottom-item
                            a(v-on:click="$store.state.view.popups.activePopup = 'sign_in'").popup__form-link Sign In
                        .popup__form-bottom-item
                            a(v-on:click="$store.state.view.popups.activePopup = 'restore_password'").popup__form-link Forget password

        .popup__container(v-if="$store.state.view.popups.activePopup == 'sign_in'")
            .popup__closer(v-on:click="$store.state.view.popups.activePopup = ''") +
            .popup__content
                .popup__title Sign In
                form(@submit.prevent="signIn()").popup__form
                    .popup__form-line
                        label.popup__form-label Email
                        input(v-model='$store.state.auth.sign_in.email').popup__form-input
                    .popup__form-line
                        label.popup__form-label Password
                        input(v-model='$store.state.auth.sign_in.password' type='password').popup__form-input
                    .popup__form-button
                        button(type='submit') Sign In
                    .popup__form-bottom
                        .popup__form-bottom-item
                            a(v-on:click="$store.state.view.popups.activePopup = 'registration'").popup__form-link Create account
                        .popup__form-bottom-item
                            a(v-on:click="$store.state.view.popups.activePopup = 'restore_password'").popup__form-link Forget password

        .popup__container(v-if="$store.state.view.popups.activePopup == 'restore_password'")
            .popup__closer(v-on:click="$store.state.view.popups.activePopup = ''") +
            .popup__content
                .popup__title Restore password
                form(@submit.prevent="restorePassword()").popup__form
                    .popup__form-line
                        label.popup__form-label Email
                        input(v-model='$store.state.auth.restore.email').popup__form-input
                    .popup__form-button
                        button(type='submit') Restore password
                    .popup__form-bottom
                        .popup__form-bottom-item
                            a(v-on:click="$store.state.view.popups.activePopup = 'registration'").popup__form-link Create account
                        .popup__form-bottom-item
                            a(v-on:click="$store.state.view.popups.activePopup = 'sign_in'").popup__form-link Sign In
</template>

<script>
export default {
    data() {
        return {
            
        }
    },

    methods: {

        edit(meeting) {
            this.$store.state.meetings.editMeeting.status = 'pending'
            this.$store.dispatch('create/editMeeting', meeting)
        },

        addReqLine() {
            this.$store.commit('create/addReqLine', {})
        },

        addEditReqLine() {
            this.$store.state.meetings.editMeeting.reqsLen += 1
        },

        removeEditReqLine() {
            if (this.$store.state.meetings.editMeeting.reqsLen > 1) {
                this.$store.state.meetings.editMeeting.reqsLen -= 1
                this.$store.state.meetings.editMeeting.reqs.pop()
            }
        },

        removeReqLine() {
            this.$store.commit('create/removeReqLine', {})
        },

        restorePassword() {
            this.$store.dispatch('auth/restorePassword', this.$store.state.auth.restore)
        },

        signIn() {
            this.$store.dispatch('auth/signIn', this.$store.state.auth.sign_in)
        },

        registration() {
            this.$store.dispatch('auth/registration', this.$store.state.auth.registration)
        },

        create() {
            let data = {
                coords: this.$store.state.map.newMarker.coords,
                title: this.$store.state.create.title,
                subtitle: this.$store.state.create.subtitle,
                reqs: this.$store.state.create.reqs,
                author: this.$store.state.auth.user.uid,
                status: 'pending',
                id: null
            }
            this.$store.dispatch('create/createMeeting', data)
        }
    },

    created() {
        this.$store.dispatch('auth/authStateChange', this.$store.state.auth.authStateChange)
    }
}
</script>

<style lang="scss">
.popup {
    position: absolute;
    z-index: 15;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    &__container {
        width: 400px;
        border-radius: 5px;
        background-color: #ffffff;
        position: relative;
        margin: auto;
    }

    &__closer {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
        transform: rotate(45deg);
        font-size: 26px;
        cursor: pointer;
        
        &:after {
            content: '';
            position: absolute;
            left: -5px;
            top: -5px;
            right: -5px;
            bottom: -5px;
        }
    }

    &__title {
        font-size: 22px;
        font-weight: 500;
        padding: 15px 0;
        text-align: center;
    }

    &__form {
        padding: 0 20px;

        &-line {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-label {

        }

        &-input {
            width: 100%;
            border: none;
            text-align: center;
            padding: 10px;
            border-bottom: 1px solid rgb(19, 150, 173);
        }

        &-textarea {
            width: 100%;
            border: none;
            text-align: center;
            padding: 10px;
            height: 80px;
            border-bottom: 1px solid rgb(19, 150, 173);
            resize: none;
        }
    }

    &__ask {
        padding: 20px;

        &-message {
            text-align: center;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        &-options {
            display: flex;
            justify-content: center;

            &-item {
                margin: 0 10px;
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
}
</style>


