<template lang='pug'>
transition(name="fade")
    .sidebar(v-if="$store.state.view.sidebar.type")
        .sidebar__preview(v-if="$store.state.view.sidebar.type == 'preview' && $store.state.meetings.previewMeeting")
            .sidebar__preview-inner
                .sidebar__title {{ $store.state.meetings.previewMeeting.title }}
                .sidebar__subtitle {{ $store.state.meetings.previewMeeting.subtitle }}
                a.sidebar__link(v-on:click="copy()")  {{ 'https://ourmeetings.com/#' + $store.state.meetings.previewMeeting.id }}
                .sidebar__reqs
                    .sidebar__reqs-item(v-for="(req, key) in $store.state.meetings.previewMeeting.reqs" v-bind:key="key") {{ req }}
            a.sidebar__btn
                a.btn.btn--primary(
                    v-if="$store.state.meetings.previewMeeting.author !== $store.state.auth.user.uid && $store.state.auth.user"
                    v-on:click="openChat($store.state.meetings.previewMeeting.id)"    
                ) Join meeting ({{ $store.state.meetings.previewMeeting.peoples }} users already here)
                a.btn.btn--primary(v-if="$store.state.meetings.previewMeeting.author == $store.state.auth.user.uid && $store.state.auth.user" v-on:click="openChat($store.state.meetings.previewMeeting.id)" ) Chat
                a.btn.btn--primary(v-if="!$store.state.auth.user" v-on:click="openChat($store.state.meetings.previewMeeting.id)") Chat
        transition(name="fade")
            .sidebar__chat(v-if="$store.state.view.sidebar.type == 'chat'")
                .chat
                    .chat__top
                        .chat__top-item
                            .chat__info(v-on:click="$store.state.view.sidebar.type = 'preview'") Info
                        .chat__top-item
                            .chat__name {{ $store.state.meetings.previewMeeting.title }}
                            a.sidebar__link(v-on:click="copy()") {{ 'https://ourmeetings.com/#' + $store.state.meetings.previewMeeting.id }}
                        .chat__top-item
                            .chat__leave(
                                v-on:click="supportMeeting($store.state.meetings.previewMeeting.id)"
                                v-if="$store.state.auth.user && $store.state.auth.user.uid !== $store.state.meetings.previewMeeting.author && $store.state.meetings.previewMeeting.participants.indexOf($store.state.auth.user.uid) == -1"
                                ) Join
                            .chat__leave(
                                v-on:click="exitMeeting($store.state.meetings.previewMeeting.id)"
                                v-if="$store.state.auth.user && $store.state.auth.user.uid !== $store.state.meetings.previewMeeting.author && $store.state.meetings.previewMeeting.participants.indexOf($store.state.auth.user.uid) > -1"
                                ) Joined
                            .chat__peoples {{ $store.state.meetings.previewMeeting.peoples }}
                    .chat__messages
                        .chat__message(
                            v-for="(message, key) in $store.state.meetings.chat.messages" 
                            v-bind:key="key"
                            v-if="message.author")
                            .chat__message-author {{ message.author }}
                            .chat__message-text {{ message.message }}
                    form(
                        @submit.prevent="sentMessage($store.state.meetings.previewMeeting.chatId)"
                        v-if="$store.state.auth.user.uid"
                    ).chat__controls
                        textarea(v-model="message" required v-on:keyup.enter="sentMessage($store.state.meetings.previewMeeting.chatId)").chat__textarea
                        .chat__controls-emoji
                            <picker set="apple" :emojiTooltip="false" :emojiSize="20" @select="emojiFallback"/>
                        button(type='submit').chat__button.btn.btn--primary Sent
                    .chat__button
                        a(class='btn btn--primary' v-if="!$store.state.auth.user.uid" v-on:click="$store.state.view.popups.activePopup = 'registration'") Registration
        transition(name="fade")
            .sidebar__meetings(v-if="$store.state.view.sidebar.type == 'meetings'")
                .sidebar__meetings-preloader(v-if="$store.state.view.preloader.myMeetings")
                .sidebar__meetings-title My Meetings
                .sidebar__meetings-inner
                    .m-card(v-for="(meeting, key) in $store.state.meetings.myMeetings" v-bind:key="key")
                        .m-card__title {{ meeting.title }}
                        .m-card__descr {{ meeting.subtitle }}
                        .m-card__status {{ meeting.status }}
                        .m-card__reqs
                            .m-card__req(v-for="(req, key) in meeting.reqs" v-bind:key="key") {{ req }}
                        .m-card__controls
                            .m-card__controls-item(v-on:click="editMeeting(meeting)") Edit
                            .m-card__controls-item(v-on:click="deleteMeeting(meeting.id)") Delete
</template>

<script>
import { Picker } from 'emoji-mart-vue'
import ClickOutside from 'vue-click-outside'

export default {

    components: {
        Picker
    },

    data() {
        return {
            message: ''
        }
    },


    methods: {

        copy() {
            let link = 'https://ourmeetings.com/#' + this.$store.state.meetings.previewMeeting.id
            navigator.clipboard.writeText(link)
                .then(() => {
                    this.$store.dispatch('view/showNotify', 'Link copied to clipboard!', {root: true})
                })
                .catch(err => console.log(err))
        },

        editMeeting(meeting) {
            this.$store.commit('meetings/setEditMeeting', meeting)
            this.$store.state.view.popups.activePopup = 'change_meeting'
        },

        supportMeeting(id) {
            this.$store.state.meetings.previewMeeting.participants.push(this.$store.state.auth.user.uid)
            let data = {
                id: id,
                participants: this.$store.state.meetings.previewMeeting.participants
            }
            this.$store.dispatch('meetings/supportMeeting', data, {root: true})
        },

        exitMeeting(id) {
            let participants = this.$store.state.meetings.previewMeeting.participants
            let index = participants.indexOf(this.$store.state.auth.user.uid);
            if (index !== -1) participants.splice(index, 1);
            let data = {
                id: id,
                participants: participants
            }
            this.$store.dispatch('meetings/exitMeeting', data, {root: true})
        },

        emojiFallback(emoji) {
            this.message += emoji.native
        },

        deleteMeeting(id) {
            this.$store.dispatch('meetings/deleteMeeting', id, {root: true})
        },

        openChat(id) {
            this.$store.dispatch('meetings/loadChat', id, {root: true})
        },

        sentMessage(id) {
            if (/\S/.test(this.message)) {
                let data = {
                    message: this.message,
                    author: this.$store.state.auth.user.displayName,
                    id: id
                }
                this.$store.dispatch('meetings/sentMessage', data, {root: true})
                let int = setTimeout(() => {
                    this.message = ''
                    clearInterval(int)
                }, 1);
            } else {
                console.log('error, message is empty')
            }
        }
    }
}
</script>

<style lang="scss">
.sidebar {
    position: fixed;
    top: 10px;
    bottom: 10px;
    right: 10px;
    width: 100%;
    max-width: 440px;
    background-color: #fff;
    border-radius: 20px;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    &__subtitle {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 10px;
    }

    &__reqs {

        &-item {
            font-size: 18px;
            line-height: 1.3;
            margin-bottom: 10px;
            position: relative;
            padding-left: 15px;

            &:before {
                content: '';
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__btn {
        margin-top: auto;
    }

    &__preview {
        
        &-inner {
            overflow-y: scroll;
            height: calc(100vh - 100px);
        }
    }

    &__meetings {
        position: relative;

        &-title {
            text-align: center;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 500;
        }

        &-inner {
            overflow-y: scroll;
            height: calc(100vh - 90px);
        }

        &-preloader {
            position: absolute;
            z-index: 2;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #fff;
            opacity: .8;
        }
    }
}

.m-card {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.chat {

    &__top {
        padding-bottom: 10px;
        border-bottom: 1px solid #000;
        display: flex;
        justify-content: space-between;
    }

    &__messages {
        overflow-y: scroll;
        height: calc(100vh - 140px);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__message {
        margin-bottom: 7px;
        max-width: 260px;

        &-author {
            font-size: 12px;
            color: #cccccc;
        }

        &-text {
            border-radius: 10px;
            background-color: #ccc;
            padding: 3px 7px;
        }

        &--me {
            margin-left: auto;
        }
    }

    &__controls {
        display: flex;
        align-items: center;
        height: 49px;

        &-emoji {
            position: relative;
            width: 20px;
            height: 20px;

            &:hover {

                .emoji-mart {
                    opacity: 1;
                    visibility: visible;
                }
            }

            .emoji-mart {
                position: absolute;
                right: 0;
                bottom: 0;
                opacity: 0;
                visibility: hidden;
                transition: opacity .3s, visibility .3s;
            }

            .emoji-mart-bar {
                display: none;
            }
        }
    }

    &__textarea {
        width: 100%;
        border: none;
        height: 100%;
        background-color: #ccc;
        border-radius: 10px;
        margin-right: 10px;
        resize: none;
        padding: 5px 10px;
    }

    &__button {
        flex-shrink: 0;
    }
}
</style>
