<template lang='pug'>
  div.page
    Map
    Popups
    Sidebar
    Notify
</template>

<script>
import Map from '~/components/Map.vue'
import Popups from '~/components/Popups.vue'
import Sidebar from '~/components/Sidebar.vue'
import Notify from '~/components/Notify.vue'

export default {
  components: {
    Map,
    Popups,
    Sidebar,
    Notify
  }
}
</script>

<style>

</style>

