<template lang='pug'>
    div.page
        .m-card(v-for="(meeting, key) in $store.state.meetings.moderateMeetings" v-bind:key='key') 
            .m-card__title {{ meeting.title }}
            .m-card__description {{ meeting.subtitle }}
            .m-card__reqs
                .m-card__reqs-item(v-for="(req, key) in meeting.reqs" v-bind:key='key') 
                    div {{ req }}
            .m-card__status {{ meeting.status }}
            .m-card__buttons
                .m-card__button(v-on:click="acceptMeeting(meeting.id)") Accept
                .m-card__button(v-on:click="rejectMeeting(meeting.id)") Reject
</template>

<script>

import {db} from '../main'
import firebase from 'firebase/app'
require('firebase/auth')
require('firebase/database')
import 'firebase/firestore'

export default {
    data() {
        return {

        }
    },

    created() {
        this.$store.dispatch('meetings/loadModerate', 'pending')
    },

    methods: {
        acceptMeeting(id) {
            let data = {
                id: id,
                status: 'public'
            }
            this.$store.dispatch('meetings/moderateMeeting', data)
        },

        rejectMeeting(id) {
            let data = {
                id: id,
                status: 'rejected'
            }
            this.$store.dispatch('meetings/moderateMeeting', data)
        }
    }
}
</script>

<style lang='scss'>
.m-card {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
</style>

